language: cpp

sudo: false

matrix:
  include:
    - os: linux
      addons:
        apt:
          packages:
            - gfortran
            - csh
            - python-numpy
      env:
        - CONFIGOPTS=
    - os: linux
      addons:
        apt:
          packages:
            - gfortran
            - csh
            - python-numpy      
      env: CONFIGOPTS="--enable-threads --enable-fdot"
    - os: osx
      osx_image: xcode7.3

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    export TOASTDIR=$PWD;
    echo $CONFIGOPTS;
    ./configure $CONFIGOPTS;
    export LD_LIBRARY_PATH=$TOASTDIR/lib;
    make numerics;
    make toast;
    make python;
    make test;
    fi;
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    success=true;
    cd mac;
    cd libsuperlu;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../liblbfgs;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../libmath;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../libfe;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../libstoast;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../libfdot;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../libbemdiff;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../libdgfe;
    xcodebuild -configuration release;
    if [[ $? -ne 0 ]]; then success=false; fi;
    cd ../..;
    export TOASTDIR=$PWD;
    echo $CONFIGOPTS;
    ./configure $CONFIGOPTS;
    make python;
    if [[ $? -ne 0 ]]; then success=false; fi;
    $success;
    fi;
