body {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 15px;
  font-weight: 400;
  background-color:#ffffff;
}
p {
  margin-left: 35px;
}
ul {
  margin-left: 30px;
}
h1 {
  font-size: 220%;
  font-weight: 700;
  line-height: 120%;
  color: 4c64ae;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 150%;
  font-weight: 400;
  line-height: 120%;
  color: #4c64ae;
  margin-top: 26px;
  margin-bottom: 10px;
}
h3 {
  font-size: 110%;
  font-weight: 400;
  color: #4c64ae;
  margin-top: 26px;
  margin-bottom: -10px;
  margin-left: 35px;
}
h4 {
  font-size: 100%;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  margin-bottom: -10px;
}
p.code {
  font-family: Courier;
  font-size: 15px;
  margin-left: 70px;
}

div.menu p {
  margin: 0px 0px 0px 0px;
  background-color: #4c64ae;
  color: #ffffff;
}
div.menu a {
  color: #d0d0ff;
  text-decoration: none;
}